# 베이스 만들기

In [1]:
import pandas as pd
df= pd.read_csv('zomato_dataset.csv')

In [2]:
#베이스로 만들기
df.dropna(inplace=True)

In [3]:
feature_cols = ['Dining_Rating','Delivery_Rating','Dining Votes','Votes']
label = df.pop('Prices')
feature = df[feature_cols].copy()

## 회귀분석
- price를 예측하는 것

In [4]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(feature, label,  test_size=0.2, random_state=111)

In [6]:
from sklearn.preprocessing import StandardScaler
import numpy as np

scaler =StandardScaler()
train_x_sc =scaler.fit_transform(train_x)
test_x_sc = scaler.transform(test_x)
#np.reshape 조정하기

train_y =np.array(train_y)
train_y =train_y.reshape(-1,1)
test_y = np.array(test_y)
test_y = test_y.reshape(-1,1)

train_y_sc = scaler.fit_transform(train_y)
test_y_sc = scaler.transform(test_y)

## 베이스모델로 간단한 딥러닝
- 단순하게 순전파 모델 하나 만들어서 모델링 진행할 예정
- 복잡하게 역전파 만들지 않고 tensorflow로 가볍게 순전파만 진행할 예정
- Dense도 적당하게

In [7]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


model = Sequential([
    Dense(units=32, activation='relu', input_shape=[4]),
    Dense(units=16, activation='relu',),
    Dense(units=1)
])

model.compile(loss='mae',
             optimizer='adam',
             metrics=['mae','mse'])

In [8]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                160

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [9]:
train_x

        Dining_Rating  Delivery_Rating  Dining Votes  Votes
53177             3.6              4.2             8      0
102659            4.0              3.7           443    451
10678             3.8              4.3           146    397
8141              4.2              4.3           221     95
36951             3.8              3.7             0      0
...               ...              ...           ...    ...
51931             3.4              3.9           427    133
31916             3.4              3.7           127     13
35966             4.4              3.8           349      0
69158             3.6              3.8             0      0
76537             3.8              4.0           726     29

[16182 rows x 4 columns]

In [10]:
%%time
model.fit(train_x_sc, train_y_sc, epochs=50)

Epoch 1/50
506/506 [==============================] - 3s 4ms/step - loss: 0.5739 - mae: 0.5739 - mse: 0.9951
Epoch 2/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5604 - mae: 0.5604 - mse: 0.9630
Epoch 3/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5556 - mae: 0.5556 - mse: 0.9478
Epoch 4/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5519 - mae: 0.5519 - mse: 0.9396
Epoch 5/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5488 - mae: 0.5488 - mse: 0.9334
Epoch 6/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5458 - mae: 0.5458 - mse: 0.9294
Epoch 7/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5443 - mae: 0.5443 - mse: 0.9281
Epoch 8/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5424 - mae: 0.5424 - mse: 0.9258
Epoch 9/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5407 - mae: 0.5407 - mse: 0.9195
Epoch 10/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5391 - mae: 0.5391 - mse: 0.9194
Epoch 11/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5368 - mae: 0.5368 - mse: 0.9161
Epoch 12/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5354 - mae: 0.5354 - mse: 0.9130
Epoch 13/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5340 - mae: 0.5340 - mse: 0.9124
Epoch 14/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5326 - mae: 0.5326 - mse: 0.9093
Epoch 15/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5306 - mae: 0.5306 - mse: 0.9075
Epoch 16/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5289 - mae: 0.5289 - mse: 0.9025
Epoch 17/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5282 - mae: 0.5282 - mse: 0.9018
Epoch 18/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5267 - mae: 0.5267 - mse: 0.9010
Epoch 19/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5262 - mae: 0.5262 - mse: 0.8997
Epoch 20/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5250 - mae: 0.5250 - mse: 0.8993
Epoch 21/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5242 - mae: 0.5242 - mse: 0.8981
Epoch 22/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5235 - mae: 0.5235 - mse: 0.8945
Epoch 23/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5219 - mae: 0.5219 - mse: 0.8930
Epoch 24/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5221 - mae: 0.5221 - mse: 0.8917
Epoch 25/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5214 - mae: 0.5214 - mse: 0.8923
Epoch 26/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5211 - mae: 0.5211 - mse: 0.8912
Epoch 27/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5203 - mae: 0.5203 - mse: 0.8888
Epoch 28/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5197 - mae: 0.5197 - mse: 0.8886
Epoch 29/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5195 - mae: 0.5195 - mse: 0.8865
Epoch 30/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5182 - mae: 0.5182 - mse: 0.8853
Epoch 31/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5190 - mae: 0.5190 - mse: 0.8862
Epoch 32/50
506/506 [==============================] - 2s 4ms/step - loss: 0.5184 - mae: 0.5184 - mse: 0.8861
Epoch 33/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5177 - mae: 0.5177 - mse: 0.8867
Epoch 34/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5173 - mae: 0.5173 - mse: 0.8850
Epoch 35/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5167 - mae: 0.5167 - mse: 0.8852
Epoch 36/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5164 - mae: 0.5164 - mse: 0.8830
Epoch 37/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5155 - mae: 0.5155 - mse: 0.8814
Epoch 38/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5150 - mae: 0.5150 - mse: 0.8844
Epoch 39/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5156 - mae: 0.5156 - mse: 0.8816
Epoch 40/50
506/506 [==============================] - 1s 3ms/step - loss: 0.5149 - mae: 0.5149 - mse: 0.8820
Epoch 41/50
506/506 [==============================] - 2s 3ms/step - loss: 0.5144 - mae: 0.5144 - mse: 0.8800
Epoch 42/50
506/506 [==============================] - 1s 3ms/step - loss: 0.5148 - mae: 0.5148 - mse: 0.8805
Epoch 43/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5134 - mae: 0.5134 - mse: 0.8795
Epoch 44/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5132 - mae: 0.5132 - mse: 0.8775
Epoch 45/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5134 - mae: 0.5134 - mse: 0.8804
Epoch 46/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5130 - mae: 0.5130 - mse: 0.8788
Epoch 47/50
506/506 [==============================] - 1s 2ms/step - loss: 0.5132 - mae: 0.5132 - mse: 0.8785
Epoch 48/50
506/506 [==============================] - 2s 4ms/step - loss: 0.5135 - mae: 0.5135 - mse: 0.8789
Epoch 49/50
506/506 [==============================] - 3s 6ms/step - loss: 0.5119 - mae: 0.5119 - mse: 0.8769
Epoch 50/50
506/506 [==============================] - 3s 6ms/step - loss: 0.5114 - mae: 0.5114 - mse: 0.8754
CPU times: user 1min 7s, sys: 2.73 s, total: 1min 10s
Wall time: 1min 10s

In [15]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

lr = LinearRegression()
lr.fit(train_x_sc,train_y_sc)
y_preds = lr.predict(test_x_sc)
mse = mean_squared_error(test_y_sc, y_preds)
rmse = np.sqrt(mse)

print(mse, rmse)
print(r2_score(test_y_sc, y_preds))

0.9844946724033561 0.9922170490388462
0.013277998034848859

### 결과: 34830.2148
- base라인 모델 - 34830.2148
- 스케일링을 진행한 경우 ( 피처와 y값 모두 standard)

# Mine 모델로 진행

In [24]:
df1= pd.read_csv('/content/0806_zomato (1).csv')
df1

,Item_Enc,Restaurant_Name_Enc,Cuisine_Enc,Place_Enc,City_Enc,MinMax_Dining_Rating,MinMax_Delivery_Rating,Robust_Delivery_Votes,Robust_Dining_Votes,Robust_Votes,Prices
0,23575,563,13,142,4,0.608696,0.809524,0.00000,0.041475,5.600000,249.0
1,44773,563,13,142,4,0.608696,0.809524,0.00000,0.041475,3.000000,129.0
2,33505,563,13,142,4,0.608696,0.809524,0.00000,0.041475,2.600000,189.0
3,33278,563,13,142,4,0.608696,0.809524,0.00000,0.041475,2.866667,189.0
4,30157,563,13,142,4,0.608696,0.809524,0.00000,0.041475,2.066667,205.0
...,...,...,...,...,...,...,...,...,...,...,...
123652,5455,75,30,68,16,0.608696,0.809524,22.73913,-0.078341,0.000000,525.0
123653,3877,75,30,68,16,0.608696,0.809524,22.73913,-0.078341,0.000000,525.0
123654,3842,75,30,68,16,0.608696,0.809524,22.73913,-0.078341,0.000000,525.0
123655,3844,75,30,68,16,0.608696,0.809524,22.73913,-0.078341,0.000000,525.0
123656,2802,75,30,68,16,0.608696,0.809524,22.73913,-0.078341,0.000000,595.0

In [25]:
df1.columns

Index(['Item_Enc', 'Restaurant_Name_Enc', 'Cuisine_Enc', 'Place_Enc',
       'City_Enc', 'MinMax_Dining_Rating', 'MinMax_Delivery_Rating',
       'Robust_Delivery_Votes', 'Robust_Dining_Votes', 'Robust_Votes',
       'Prices'],
      dtype='object')

In [26]:
feature_cols = ['Item_Enc', 'Restaurant_Name_Enc', 'Cuisine_Enc', 'Place_Enc',
       'City_Enc', 'MinMax_Dining_Rating', 'MinMax_Delivery_Rating',
       'Robust_Delivery_Votes', 'Robust_Dining_Votes', 'Robust_Votes',]
label1 = df1.pop('Prices')
feature1 = df1[feature_cols].copy()

from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(feature1, label1,  test_size=0.2, random_state=111)

In [29]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model1 = Sequential([
    Dense(units=32, activation='relu', input_shape=[10]),
    Dense(units=16, activation='relu',),
    Dense(units=1) ])

model1.compile(loss='mae',
             optimizer='adam',
             metrics=['mae','mse'])

## 학습

In [30]:
%%time
model1.fit(train_x, train_y, epochs=50)

Epoch 1/50
3092/3092 [==============================] - 9s 3ms/step - loss: 144.4586 - mae: 144.4586 - mse: 44381.5742
Epoch 2/50
3092/3092 [==============================] - 7s 2ms/step - loss: 114.2852 - mae: 114.2852 - mse: 25851.6602
Epoch 3/50
3092/3092 [==============================] - 8s 3ms/step - loss: 104.0086 - mae: 104.0086 - mse: 21087.2949
Epoch 4/50
3092/3092 [==============================] - 8s 3ms/step - loss: 96.9375 - mae: 96.9375 - mse: 18250.6152
Epoch 5/50
3092/3092 [==============================] - 7s 2ms/step - loss: 86.4537 - mae: 86.4537 - mse: 14629.0312
Epoch 6/50
3092/3092 [==============================] - 8s 3ms/step - loss: 76.0260 - mae: 76.0260 - mse: 11384.3672
Epoch 7/50
3092/3092 [==============================] - 8s 2ms/step - loss: 67.4994 - mae: 67.4994 - mse: 9271.4082
Epoch 8/50
3092/3092 [==============================] - 8s 3ms/step - loss: 59.8646 - mae: 59.8646 - mse: 7321.5869
Epoch 9/50
3092/3092 [==============================] - 8s 3ms/step - loss: 55.1424 - mae: 55.1424 - mse: 6284.1719
Epoch 10/50
3092/3092 [==============================] - 7s 2ms/step - loss: 56.5272 - mae: 56.5272 - mse: 6396.6675
Epoch 11/50
3092/3092 [==============================] - 10s 3ms/step - loss: 52.4941 - mae: 52.4941 - mse: 5621.4790
Epoch 12/50
3092/3092 [==============================] - 10s 3ms/step - loss: 52.1761 - mae: 52.1761 - mse: 5495.9688
Epoch 13/50
3092/3092 [==============================] - 10s 3ms/step - loss: 50.7018 - mae: 50.7018 - mse: 5183.2964
Epoch 14/50
3092/3092 [==============================] - 10s 3ms/step - loss: 51.0256 - mae: 51.0256 - mse: 5264.9307
Epoch 15/50
3092/3092 [==============================] - 9s 3ms/step - loss: 49.1684 - mae: 49.1684 - mse: 4881.8315
Epoch 16/50
3092/3092 [==============================] - 8s 3ms/step - loss: 47.9462 - mae: 47.9462 - mse: 4654.8018
Epoch 17/50
3092/3092 [==============================] - 7s 2ms/step - loss: 47.2155 - mae: 47.2155 - mse: 4500.7002
Epoch 18/50
3092/3092 [==============================] - 8s 3ms/step - loss: 47.0325 - mae: 47.0325 - mse: 4445.2534
Epoch 19/50
3092/3092 [==============================] - 8s 3ms/step - loss: 46.2060 - mae: 46.2060 - mse: 4326.3818
Epoch 20/50
3092/3092 [==============================] - 8s 3ms/step - loss: 46.4205 - mae: 46.4205 - mse: 4343.6138
Epoch 21/50
3092/3092 [==============================] - 8s 3ms/step - loss: 45.1168 - mae: 45.1168 - mse: 4138.9497
Epoch 22/50
3092/3092 [==============================] - 8s 2ms/step - loss: 43.8320 - mae: 43.8320 - mse: 3952.3123
Epoch 23/50
3092/3092 [==============================] - 8s 3ms/step - loss: 44.1012 - mae: 44.1012 - mse: 3985.4363
Epoch 24/50
3092/3092 [==============================] - 8s 3ms/step - loss: 43.6950 - mae: 43.6950 - mse: 3911.3083
Epoch 25/50
3092/3092 [==============================] - 7s 2ms/step - loss: 42.8818 - mae: 42.8818 - mse: 3791.2432
Epoch 26/50
3092/3092 [==============================] - 8s 3ms/step - loss: 42.5322 - mae: 42.5322 - mse: 3736.8933
Epoch 27/50
3092/3092 [==============================] - 7s 2ms/step - loss: 43.1731 - mae: 43.1731 - mse: 3785.5229
Epoch 28/50
3092/3092 [==============================] - 8s 3ms/step - loss: 43.1886 - mae: 43.1886 - mse: 3803.3032
Epoch 29/50
3092/3092 [==============================] - 8s 3ms/step - loss: 41.7164 - mae: 41.7164 - mse: 3597.0181
Epoch 30/50
3092/3092 [==============================] - 7s 2ms/step - loss: 40.7402 - mae: 40.7402 - mse: 3443.5881
Epoch 31/50
3092/3092 [==============================] - 9s 3ms/step - loss: 41.6868 - mae: 41.6868 - mse: 3542.6108
Epoch 32/50
3092/3092 [==============================] - 13s 4ms/step - loss: 40.4149 - mae: 40.4149 - mse: 3391.2585
Epoch 33/50
3092/3092 [==============================] - 9s 3ms/step - loss: 40.9068 - mae: 40.9068 - mse: 3405.4021
Epoch 34/50
3092/3092 [==============================] - 7s 2ms/step - loss: 40.0728 - mae: 40.0728 - mse: 3296.5212
Epoch 35/50
3092/3092 [==============================] - 8s 3ms/step - loss: 39.7410 - mae: 39.7410 - mse: 3232.8040
Epoch 36/50
3092/3092 [==============================] - 8s 3ms/step - loss: 39.6002 - mae: 39.6002 - mse: 3220.2678
Epoch 37/50
3092/3092 [==============================] - 8s 3ms/step - loss: 38.8334 - mae: 38.8334 - mse: 3114.3184
Epoch 38/50
3092/3092 [==============================] - 8s 3ms/step - loss: 39.0762 - mae: 39.0762 - mse: 3152.8347
Epoch 39/50
3092/3092 [==============================] - 8s 3ms/step - loss: 38.9179 - mae: 38.9179 - mse: 3101.5947
Epoch 40/50
3092/3092 [==============================] - 8s 3ms/step - loss: 38.5030 - mae: 38.5030 - mse: 3054.1858
Epoch 41/50
3092/3092 [==============================] - 8s 3ms/step - loss: 38.1378 - mae: 38.1378 - mse: 3018.8091
Epoch 42/50
3092/3092 [==============================] - 7s 2ms/step - loss: 37.9140 - mae: 37.9140 - mse: 2981.9067
Epoch 43/50
3092/3092 [==============================] - 8s 3ms/step - loss: 37.4421 - mae: 37.4421 - mse: 2934.4939
Epoch 44/50
3092/3092 [==============================] - 8s 2ms/step - loss: 37.5878 - mae: 37.5878 - mse: 2937.8960
Epoch 45/50
3092/3092 [==============================] - 8s 3ms/step - loss: 37.8452 - mae: 37.8452 - mse: 2957.2004
Epoch 46/50
3092/3092 [==============================] - 8s 3ms/step - loss: 37.0908 - mae: 37.0908 - mse: 2856.8704
Epoch 47/50
3092/3092 [==============================] - 7s 2ms/step - loss: 36.3848 - mae: 36.3848 - mse: 2777.9868
Epoch 48/50
3092/3092 [==============================] - 8s 3ms/step - loss: 36.1311 - mae: 36.1311 - mse: 2765.8467
Epoch 49/50
3092/3092 [==============================] - 8s 2ms/step - loss: 36.3690 - mae: 36.3690 - mse: 2795.0520
Epoch 50/50
3092/3092 [==============================] - 8s 2ms/step - loss: 36.3391 - mae: 36.3391 - mse: 2776.1042
CPU times: user 6min 45s, sys: 16.7 s, total: 7min 2s
Wall time: 7min 22s

In [31]:
lr = LinearRegression()
lr.fit(train_x,train_y)
y_preds = lr.predict(test_x)
mse = mean_squared_error(test_y, y_preds)
rmse = np.sqrt(mse)

print(mse, rmse)
print(r2_score(test_y, y_preds))

20942.97216070111 144.71686895694333
0.5045013355585621

In [32]:
train_y

118638    545.00
103553     20.00
49816     280.00
90693     449.00
56339     343.00
           ...
105747    330.00
102486    330.00
4820      285.00
10196     320.00
77652     103.81
Name: Prices, Length: 98925, dtype: float64

- mse가 큰 이유는 스케일링이 안되어서!
- 인코딩을 하고 나서도 스케일링 해주어야한다!