## 필수과제1
- 해당 시리즈 메서드를 사용하고 주석처리를 통해 원리를 설명해 주세요!
- 추가적으로 살펴볼 메서드
- append
- describe
- drop_duplicates
- get_values
- isin
- mean~ 기초통계 다 가능함
- equals
- sort_values
- to_frame

In [9]:
import warnings 
warnings.filterwarnings(action  = 'ignore')

In [2]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
c = mpg.cty
h = mpg.hwy
type(c),type(h)

(pandas.core.series.Series, pandas.core.series.Series)

In [12]:
h

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [19]:
# append : c라는 series뒤에 h series가 이어 붙는다. 이때, 인덱스도 이어 붙어서 동일한 인덱스가 생길 수도 있다. 
a = c.append(h)
a

0      18
1      21
2      20
3      21
4      16
       ..
229    28
230    29
231    26
232    26
233    26
Length: 468, dtype: int64

In [20]:
#describe : series 값들의 다음과 같은 여러 요약통계량을 제공해준다. 
c.describe()

count    234.000000
mean      16.858974
std        4.255946
min        9.000000
25%       14.000000
50%       17.000000
75%       19.000000
max       35.000000
Name: cty, dtype: float64

In [21]:
# drop_duplicates()  : 중복되는 행을 제거하는 메서드이다. 
c.drop_duplicates() # 중복된 행을 제거한 후 남은 값드만 보여준다.

0      18
1      21
2      20
4      16
10     19
11     15
12     17
18     14
19     11
21     13
22     12
33     22
54      9
99     28
100    24
101    25
102    23
104    26
212    33
221    35
222    29
Name: cty, dtype: int64

In [39]:
# get_values : Series' object has no attribute 'get_values 에러로 _get_value로 해결
# 인덱스 지정하면 인덱스에 따른 값을 반환
c._get_value(1)

21

In [41]:
#isin :  시리즈에 포함된 값이 있는지 확인해준다. 
# 괄호 안에 넣은 값들이 c라는 시리즈에 포함되어있는지 확인 
c.isin([21,1,2])

0      False
1       True
2      False
3       True
4      False
       ...
229    False
230     True
231    False
232    False
233    False
Name: cty, Length: 234, dtype: bool

In [42]:
# mean : 기초통계 중 평균을 구하는 메서드
c.mean() # 평균 구하기!

16.858974358974358

In [46]:
# equals : 같은 시리즈인지 확인
print(c.equals(c))
print(c.equals(mpg.cty))
print(c.equals(mpg.hwy))

True
True
False

In [48]:
#sort_values : 값들을 정렬하기 
c.sort_values() # 기본 오름차순으로 정렬
c.sort_values(ascending = False) # 오름차순으로 옵션 지정

221    35
212    33
222    29
99     28
196    28
       ..
69      9
65      9
54      9
59      9
126     9
Name: cty, Length: 234, dtype: int64

In [49]:
#to_frame : dataframe으로 변환
c.to_frame()

     cty
0     18
1     21
2     20
3     21
4     16
..   ...
229   19
230   21
231   16
232   18
233   17

[234 rows x 1 columns]